:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(39, 174, 96, 0.4);
    --left-button-hover-color: rgba(22, 160, 133, 0.3);
    --right-bg-color: rgba(127, 140, 141, 0.6);
    --right-button-hover-color: rgba(189, 195, 199, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem; 
    color:#fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap; 
}

.button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2rem;
    padding-top: 1.3rem;
    width: 13rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%); 
}

.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--container-bg-color); 
}
.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('https://static.pexels.com/photos/230629/pexels-photo-230629.jpeg') center center no-repeat;
    background-size: cover;
}

.split.left:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url('https://static.pexels.com/photos/276267/pexels-photo-276267.jpeg') center center no-repeat;
    background-size: cover;
}

.split.right:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
}

.split.left:before, 
.split.left, 
.split.right:before, 
.split.right {
    transition: var(--speed) all ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}
.hover-left .right:before {
    z-index: 2;
}


.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}
.hover-right .left:before {
    z-index: 2;
}

@media(max-width: 800px){
    h1 {
        font-size: 1.5rem;
    }
    .button {
        width: 9rem;
    }
}

@media(max-height: 700px){
    .button {
       top: 70%; 
    }
}
